node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
# Virtual environments
.venv/
venv/

# IDE / editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.egg-info/
